@model Order

<div class="container-fluid text-center">
    <h2 style="color: #565656;">Order Confirmation</h2>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Zip</th>
        <th>Card Number</th>
        <th colspan="4">Details</th>
    </tr>

	<tr>
		<td>@Model.Name</td>
		<td>@Model.Line1</td>
		<td>@Model.Zip</td>
		<td>@Model.CardNumber</td>
		<th>Product</th>
		<th>Quantity</th>
	</tr>

	@foreach (CartLine line in Model.Lines)
	{
		<tr>
			<td colspan="4"></td>
			<td>@line.Product.Name</td>
			<td>@line.Quantity</td>
			<td></td>
		</tr>

	}
</table>

<div class="text-center" style="margin-bottom:20px;">
	<a class="btn btn-primary" asp-action="Completed" asp-controller="Order">
		Complete Order
	</a>
</div>